<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(paginaTitulo='Formulario Matricula')"></head>

<body class="d-flex flex-column min-vh-100">

<header th:replace="fragments/layout :: cabecalho"></header>


<h2>Cadastro de Matrícula</h2>

<form action="/matricula/salvar" method="post">

    <div class="mb-3">
        <label>Turma:</label>
        <div class="input-group">
            <select class="form-select" name="turmaId">
                <option th:each="turma : ${turmas}" th:value="${turma.id}" th:text="${turma.nome}" th:selected="${turma.id} == ${turmaSelecionada}"></option>
            </select>
            <button type="button" class="btn btn-primary" onclick="openModal('modalTurma')">+ Nova Turma</button>
        </div>
    </div>

    <div class="mb-3">
        <label>Aluno:</label>
        <div class="input-group">
            <select class="form-select" name="alunoId">
                <option th:each="aluno : ${alunos}" th:value="${aluno.id}" th:text="${aluno.nome}" th:selected="${aluno.id} == ${alunoSelecionado}"></option>
            </select>
            <button type="button" class="btn btn-primary" onclick="openModal('modalAluno')">+ Novo Aluno</button>
        </div>
    </div>

    <div class="mb-3">
        <label>Disciplina:</label>
        <div class="input-group">
            <select class="form-select" name="disciplinaId">
                <option th:each="disciplina : ${disciplinas}" th:value="${disciplina.id}" th:text="${disciplina.nome}" th:selected="${disciplina.id} == ${disciplinaSelecionada}"></option>
            </select>
            <button type="button" class="btn btn-primary" onclick="openModal('modalDisciplina')">+ Nova Disciplina</button>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Salvar Matrícula</button>
</form>

<div th:replace="fragments/modal-turma :: modalTurma"></div>
<div th:replace="fragments/modal-aluno :: modalAluno"></div>
<div th:replace="fragments/modal-disciplina :: modalDisciplina"></div>

<footer th:replace="fragments/layout :: rodape"></footer>

</body>
</html>
