<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modalProva">
    <div class="modal fade" id="modalProva" tabindex="-1" aria-labelledby="modalProvaLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalProvaLabel" th:text="${prova?.id != null} ? 'Editar Prova' : 'Nova Prova'"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/prova}" method="post">
                        <input type="hidden" name="id" th:value="${prova?.id}" />

                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome" name="nome"
                                   th:value="${prova?.id != null ? prova.nome : ''}" required />
                        </div>

                        <div class="mb-3">
                            <label for="disciplina" class="form-label">Disciplina:</label>
                            <select id="disciplina" name="disciplina.id" class="form-select" required>
                                <option value="">Selecione um professor</option>
                                <option th:each="disc : ${disciplinas}" th:value="${disc.id}" th:selected="${prova?.disciplina?.id == disc.id}"
                                        th:text="${prof.nome}"></option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="turma" class="form-label">Turma:</label>
                            <select id="turma" name="turma.id" class="form-select" required>
                                <option value="">Selecione uma turma</option>
                                <option th:each="turma : ${turmas}" th:value="${turma.id}" th:selected="${prova?.turma?.id == turma.id}"
                                        th:text="${prof.nome}"></option>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">
                                <span th:text="${prova?.id != null} ? 'Atualizar' : 'Salvar'"></span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
