<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modalDisciplina">
    <div id="modalDisciplina" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <h3>Nova Disciplina</h3>
                <form th:action="@{/disciplinas/salvar}" method="post">
                    <label>Nome:</label>
                    <input type="text" name="nome" class="form-control mb-2" required />
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <button type="button" class="btn btn-secondary" onclick="closeModal('modalDisciplina')">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
